

.card img{
    opacity: 0.5;
    width:12.563rem;
    height: 20.063rem;
    border-radius:8px ;
    border-color: var(--white);

}

.movieTitle{
    display: flex;
    justify-content: center;
    padding-top: 0.50rem;
    align-items: center;
    font-size: 0.65rem;
    
}




.card img:hover{
    opacity: 1;
    transition: opacity 0.4s;
}




