.header {
    max-height: 60px;
    background: var(--gray-800);
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 0;
    padding-left: 1.2vw;
    padding-right: 1vw;
  }


.footer a{
    text-decoration: none;
    color: white;
}



.wrapA{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 3rem;
  margin-right: 72vw;
}
.wrapA a{
  display: flex;
  align-items: center;
  color: var(--white);
  text-decoration: none;
  transition: color 0.2s;
}
.wrapA a:hover{
  color: var(--green-300);
}



.iconLogo{
  color: var(--green-500);
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 0.75rem;
}


.wrapLogo{
  display: flex;
  align-items: center;
  
}
.icon a{
  color: var(--green-500);
}
.icon button{
  
  border: none;
  color: var(--green-500);
  background: transparent;
  transition: color 0.2s;
}

.icon a:hover{
  cursor: pointer;
  color: var(--green-300);
}





