

.wrapCards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}
h2{
    color: var(--green-500);
}
.backCards{
    background-color: white;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    margin-bottom: 3rem;
    font-size: 3.75rem;
    font-family: "Russo One", sans-serif;
    color: var(--green-500);
}

.title::before, .title::after{
    content: '';
    flex: 0.23;
    border-bottom: 2px solid var(--green-500); 
    margin: 0 10px; 
}


@media(max-width: 768px){
    .title{
        text-align: center;
    }

}