
.wrapCards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    
}

.Title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-family: "Russo One", sans-serif;
    color: var(--green-500);
  }
  .Title::before, .Title::after{
    content: '';
    flex: 0.23;
    border-bottom: 2px solid var(--green-500); 
    margin: 0 10px; 
}


  ::-webkit-scrollbar {
    width: 10px;
    background:none;
  }


  ::-webkit-scrollbar-thumb {
    background: var(--green-500);
    border-radius: 10px;
  }


  @media (max-width: 768px) {
    .Title{
      display: flex;
     
      
      text-align: center;
      padding-top: 2rem;
      margin-bottom: 3rem;
      font-size: 3rem;
      font-family: "Russo One", sans-serif;
      color: var(--green-500);
      z-index: 1;
    }
  }

 
  
