
.wrapCards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    
}

.wrapTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-family: "Russo One", sans-serif;
    color: var(--green-500);
  }

  ::-webkit-scrollbar {
    width: 10px;
    background:none;
  }


  ::-webkit-scrollbar-thumb {
    background: var(--green-500);
    border-radius: 10px;
  }

 
  
