

.wrapCards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
    
}

.wrapTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-family: "Russo One", sans-serif;
    
    color: var(--green-500);
  }

